@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
  src: local("MuseoSansCyrl-300Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
  src: local("MuseoSansCyrl-500Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
  src: local("MuseoSansCyrl-700Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), url("../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
  src: local("MuseoSansCyrl-100Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
  src: local("Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1219.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1220px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1429.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1430px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  background: #06a4cb;
}
.breadcrumb a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.breadcrumb a i {
  width: 46px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.breadcrumb a .ico_svg {
  stroke: #fff;
}
.breadcrumb a span {
  padding-left: 10px;
  display: inline-block;
}
.breadcrumb a:hover {
  color: #fff;
  text-decoration: none;
}
.breadcrumb a:hover .ico_svg {
  stroke: #fff;
}

.form-control {
  margin: 0;
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  color: #4b5a66;
  padding: 0.25em 0.625em;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  box-shadow: none !important;
  border-bottom: 1px solid #ced2d5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.form-control::-moz-placeholder {
  color: #4b5a66;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #4b5a66;
}
.form-control::-webkit-input-placeholder {
  color: #4b5a66;
}
.form-control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form-control:focus, .form-control:active {
  outline: none;
}
.form-control:focus::-moz-placeholder, .form-control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form-control:focus:-ms-input-placeholder, .form-control:active:-ms-input-placeholder {
  color: transparent;
}
.form-control:focus::-webkit-input-placeholder, .form-control:active::-webkit-input-placeholder {
  color: transparent;
}
.form-control.error {
  border-color: #FF3840;
}

.form-group {
  margin-bottom: 1em;
}

.btn {
  color: #fae9c2;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0.75em 1.25em;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #f89c1f;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #f89c1f;
}
.btn:hover {
  color: #fff;
  background: #f79c1f;
  border-color: #f79c1f;
  text-decoration: none;
}
.btn:active {
  background: #E3CAFF;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_light_gray {
  color: #4b5a66;
  background: #ece9e4;
  border-color: #ece9e4;
}
.btn_light_gray:hover {
  color: #4b5a66;
  background: #ece9e4;
  border-color: #ece9e4;
}

.btn_brown {
  color: #fff;
  background: #978a7d;
  border-color: #978a7d;
}
.btn_brown:hover {
  color: #fff;
  background: #988b7e;
  border-color: #988b7e;
}

.btn_border {
  color: #748896;
  background: #fff;
  border-color: #748896;
}
.btn_border:hover {
  color: #fff;
  background: #f04924;
  border-color: #f04924;
}

.btn_orange {
  color: #fff;
  background: #f89b1f;
  border-color: #f89b1f;
}
.btn_orange:hover {
  color: #748896;
  background: #fff;
  border-color: #748896;
}

.btn_blue {
  color: #fff;
  background: #04a5c8;
  border-color: #04a5c8;
}
.btn_blue:hover {
  color: #fff;
  background: #f04924;
  border-color: #f04924;
}

.btn_sm {
  font-size: 0.75em;
}
@media (min-width: 768px) {
  .btn_sm {
    font-size: 0.875em;
  }
}

.btn_fix {
  min-width: 240px;
}

.btn-link {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #dd621e;
  text-decoration: none;
}
.btn-link:hover {
  color: #dd621e;
  text-decoration: underline;
}

.btn_text {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #4b5a66;
  text-decoration: none;
  display: inline-block;
}
.btn_text:hover {
  color: #dd621e;
  text-decoration: none;
}
.btn_text_orange {
  color: #dd621e;
  text-decoration: none;
}
.btn_text_orange:hover {
  color: #4b5a66;
  text-decoration: none;
}

.btn_download {
  color: #E35E15;
  font-size: 1em;
  line-height: 1.25em;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.btn_download i {
  width: 2em;
  height: 2em;
  display: inline-block;
}
.btn_download span {
  display: inline-block;
}
.btn_download .ico_svg {
  stroke: #E35E15;
}
.btn_download:hover {
  color: #E35E15;
  text-decoration: none;
}
.btn_download:hover .ico_svg {
  stroke: #E35E15;
}

.btn_icon {
  padding: 0;
  border: none;
  outline: none;
  margin: 0 auto;
  text-align: center;
  color: #4b5a66;
  display: inline-block;
  background: transparent;
}
.btn_icon i {
  height: 30px;
  display: inline-block;
}
.btn_icon span {
  display: block;
  font-size: 0.875em;
  line-height: 1.25em;
  white-space: nowrap;
}
.btn_icon .ico_svg {
  stroke: #4b5a66;
}

.embed_responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed_responsive::before {
  display: block;
  content: "";
}
.embed_responsive .embed_responsive_item,
.embed_responsive iframe,
.embed_responsive embed,
.embed_responsive object,
.embed_responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive_21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive_16by9::before {
  padding-top: 56.25%;
}

.embed-responsive_4by3::before {
  padding-top: 75%;
}

.embed-responsive_1by1::before {
  padding-top: 100%;
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_blue {
  color: #34bad1 !important;
}

.color_yellow {
  color: #dd621e !important;
}

/**
 * @package PickMeUp
 * @author  Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @license 0BSD
 */
.pickmeup {
  background: #ebe9e4;
  border-radius: 0.4em;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  touch-action: manipulation;
}
.pickmeup * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pickmeup.pmu-flat {
  display: block;
  position: relative;
}
.pickmeup.pmu-flat .pmu-instance {
  width: 100%;
}
.pickmeup.pmu-hidden {
  display: none;
}
.pickmeup .pmu-instance {
  display: inline-block;
  height: auto;
  padding: 0.5em;
  text-align: center;
  width: 15em;
}
.pickmeup .pmu-instance .pmu-button {
  font-size: 1em;
  line-height: 1.75em;
  position: relative;
  color: #4b5a66;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.pickmeup .pmu-instance .pmu-today {
  background: url("../../img/calendar.svg") 50% 50% no-repeat;
  color: #88c5eb;
}
.pickmeup .pmu-instance .pmu-button:hover {
  background: url("../../img/calendar.svg") 50% 50% no-repeat;
  color: #4b5a66;
}
.pickmeup .pmu-instance .pmu-not-in-month {
  opacity: 0.7;
  color: #666;
}
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
  color: #333;
  cursor: default;
}
.pickmeup .pmu-instance .pmu-selected {
  background: url("../../img/calendar.svg") 50% 50% no-repeat;
  color: #4b5a66;
}
.pickmeup .pmu-instance .pmu-selected:hover {
  background: url("../../img/calendar.svg") 50% 50% no-repeat;
  color: #4b5a66;
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: url("../../img/calendar.svg") 50% 50% no-repeat;
}
.pickmeup .pmu-instance nav {
  color: #4b5a66;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 1.125em;
  line-height: 1.3;
  margin-bottom: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.pickmeup .pmu-instance nav *:first-child :hover {
  color: #88c5eb;
}
.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
  display: none;
  height: 1.75em;
  width: 1em;
  font-size: 1.75em !important;
  line-height: 1.5 !important;
  background: transparent !important;
}
.pickmeup .pmu-instance nav .pmu-prev:hover,
.pickmeup .pmu-instance nav .pmu-next:hover {
  background: transparent !important;
}
.pickmeup .pmu-instance nav .pmu-month {
  font-weight: 700;
}
.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
  display: inline-block;
  line-height: 2em;
  width: 36px;
}
.pickmeup .pmu-instance .pmu-months .pmu-button {
  width: 33.33% !important;
  line-height: 4em !important;
}
.pickmeup .pmu-instance .pmu-months .pmu-button:hover {
  background: #b4e3ee !important;
}
.pickmeup .pmu-instance .pmu-months .pmu-selected {
  background: #b4e3ee !important;
}
.pickmeup .pmu-instance .pmu-month.pmu-button {
  background: transparent !important;
}
.pickmeup .pmu-instance .pmu-years .pmu-button {
  width: 33.33% !important;
  line-height: 4em !important;
}
.pickmeup .pmu-instance .pmu-years .pmu-button:hover {
  background: #b4e3ee !important;
}
.pickmeup .pmu-instance .pmu-years .pmu-selected {
  background: #b4e3ee !important;
}
.pickmeup .pmu-instance .pmu-day-of-week {
  color: #4b5a66;
  cursor: default;
  font-size: 0.875em;
  padding-bottom: 0.5em;
}
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
  font-size: 1em;
  display: inline-block;
  line-height: 1.5;
  width: 14.285%;
}
.pickmeup .pmu-instance .pmu-days * {
  line-height: 3rem;
}
.pickmeup .pmu-instance .pmu-day-of-week * {
  line-height: 1.5em;
}
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
  display: block;
}
.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
  width: 13em;
}
.pickmeup .pmu-instance:first-child:last-child .pmu-month {
  width: 12em;
}
.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  font-size: 100%;
  line-height: 1.2725;
}

body {
  width: 100%;
  max-width: 100%;
  font-weight: 300;
  color: #4b5a66;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
  background-color: #fff;
}

.page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 100%;
  padding-top: 100px;
}
@media (min-width: 1220px) {
  .page {
    padding-top: 110px;
  }
}

.nav {
  height: 50px;
  background: #ece7e4;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.grid {
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1400px;
  min-height: 100%;
  align-content: start;
  grid-template-rows: auto;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [line5] 1fr [line6] 1fr [line7] 1fr [line8] 1fr [line9] 1fr [line10] 1fr [line11] 1fr;
}
@media (min-width: 1220px) {
  .grid {
    grid-gap: 10px 30px;
  }
}

.header {
  grid-area: header;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.promo {
  grid-area: top;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.page-top {
  grid-area: top;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.info-header {
  grid-area: top;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.guide-bar {
  grid-area: top;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.profile-header {
  grid-area: top;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

.main {
  grid-area: main;
  grid-column: line1/line12;
  grid-row: auto/auto;
}
@media (min-width: 1220px) {
  .main {
    grid-column: line1/line9;
  }
  .main_single {
    grid-column: line1/line12;
  }
}

.infobox {
  grid-area: infobox;
  grid-column: line1/line12;
  grid-row: auto/auto;
}
@media (min-width: 1220px) {
  .infobox {
    grid-column: line9/line12;
  }
}

.footer {
  grid-area: footer;
  grid-column: line1/line12;
  grid-row: auto/auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #4b5a66;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #4b5a66;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1500;
  position: fixed;
  background: #fff;
}
.header__wrap {
  margin: 0 auto;
  max-width: 1400px;
}
.header__top {
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1400px;
  grid-template-columns: 46px 122px auto 46px;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.header__toggle {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
  background: transparent;
}
.header__toggle i {
  top: 50%;
  left: 50%;
  width: 46px;
  height: 30px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  display: inline-block;
  margin: -15px 0 0 -23px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle:after, .header__toggle:before {
  top: 50%;
  left: 50%;
  z-index: 5;
  content: "";
  width: 32px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: #4b5a66;
  margin: -1px 0 0 -16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__toggle:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__toggle.open i {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle.open:after, .header__toggle.open:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
  background: transparent;
}
.header__nav i {
  top: 50%;
  left: 50%;
  width: 46px;
  height: 43px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  margin: -21px 0 0 -23px;
}
.header__nav i.header__nav_base {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  stroke: #4B5966;
}
.header__nav i.header__nav_one {
  z-index: 2;
  fill: #f89b1f;
  stroke: #f89b1f;
}
.header__nav i.header__nav_two {
  z-index: 2;
  fill: #ef4924;
  stroke: #ef4924;
}
.header__nav i.header__nav_three {
  z-index: 2;
  fill: #9cdee3;
  stroke: #9cdee3;
}
.header__nav.alert_one i.header__nav_one {
  opacity: 1;
  visibility: visible;
}
.header__nav.alert_two i.header__nav_two {
  opacity: 1;
  visibility: visible;
}
.header__nav.alert_three i.header__nav_three {
  opacity: 1;
  visibility: visible;
}
.header__logo {
  font-size: 0;
  line-height: 0;
  margin-left: 10px;
  display: inline-block;
}
.header-bar {
  height: 50px;
  padding-right: 10px;
  background: #ece7e4;
  display: grid;
  overflow: hidden;
  position: relative;
  grid-template-columns: auto 46px;
}
.header-bar__menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header-bar__button {
  width: 60px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: transparent;
}
.header-bar__button i {
  top: 50%;
  left: 50%;
  width: 46px;
  height: 43px;
  position: absolute;
  display: inline-block;
  margin: -21px 0 0 -23px;
}
.header-bar__button .ico_svg {
  fill: #4B5966;
  stroke: #4B5966;
}
.header-bar__button.active {
  background: #06a4cb;
}
.header-bar__button.active .ico_svg {
  fill: #fff;
  stroke: #fff;
}
.header-bar__search {
  width: 50px;
  height: 50px;
}
.header-bar__search_toggle {
  margin: 0;
  padding: 0;
  z-index: 20;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  position: relative;
  background: #ece7e4;
}
.header-bar__search_toggle i {
  top: 50%;
  left: 50%;
  width: 46px;
  height: 43px;
  display: block;
  position: absolute;
  margin: -21px 0 0 -23px;
}
.header-bar__search_toggle .ico_svg {
  display: block;
  stroke: #4B5966;
}
.header-bar__search_content {
  top: 0;
  left: 0;
  z-index: 10;
  right: 50px;
  height: 50px;
  padding-left: 10px;
  margin-left: 150%;
  position: absolute;
  background: #ece7e4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-bar__search_arrow {
  width: 46px;
  height: 42px;
  display: block;
  position: relative;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header-bar__search_arrow .ico_svg {
  stroke: #4b5a66;
}
.header-bar__search_input {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.header-bar__search_input input[type=text] {
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 0;
  font-size: 1em;
  line-height: 2em;
  color: #4b5a66;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
}
.header-bar__search_input input[type=text]::-moz-placeholder {
  color: #4b5a66;
  opacity: 1;
}
.header-bar__search_input input[type=text]:-ms-input-placeholder {
  color: #4b5a66;
}
.header-bar__search_input input[type=text]::-webkit-input-placeholder {
  color: #4b5a66;
}
.header-bar__search_input input[type=text]:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.header-bar__search_input input[type=text]:focus:-ms-input-placeholder {
  color: transparent;
}
.header-bar__search_input input[type=text]:focus::-webkit-input-placeholder {
  color: transparent;
}
.header-bar__search.open .header-bar__search_content {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1220px) {
  .header-bar {
    margin: 0 10px;
  }
}

.nav {
  left: 0;
  right: 0;
  top: 100px;
  display: none;
  overflow-y: auto;
  height: calc(100% - 100px);
  z-index: 1500;
  font-size: 1.375em;
  line-height: 1.5em;
  position: fixed;
  background: #fff;
}
.nav.open {
  z-index: 1600;
  display: block;
}
.nav__wrap {
  max-width: 1430px;
  margin: 0 auto;
}
.nav__content {
  margin: 0;
  padding: 0.5em 0;
  list-style: none;
}
.nav__content > li > a {
  width: 100%;
  padding: 0.5em 1.5em;
  color: #4b5a66;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.nav__content > li > a span {
  display: inline-block;
}
.nav__content > li > a i {
  width: 12px;
  height: 19px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__content > li > a .ico_svg {
  stroke: #4B5966;
}
.nav__content > li ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.nav__content > li ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 0 8px 60px;
}
.nav__content > li.open {
  background: #efeeea;
}
.nav__content > li.open > a {
  font-weight: 700;
}
.nav__content > li.open > a i {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__content > li.open ul {
  background: #efeeea;
}
.nav__content > li.open ul li.active a {
  font-weight: 700;
}

.nav-second {
  left: 0;
  right: 0;
  top: 6.25em;
  display: none;
  position: fixed;
  overflow-y: auto;
  background: #fff;
  border-top: 1px solid #4B5966;
  height: calc(100% - 6.25em);
}
.nav-second .ico_svg {
  display: block;
}
.nav-second.open {
  z-index: 1600;
  display: block;
}
.nav-second__row {
  margin: 0 auto;
  max-width: 1430px;
  padding: 1em 0.375em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav-second__col {
  padding: 0.25em;
  width: 33.33%;
  max-width: 10em;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.nav-second__elem {
  color: #4B5966;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.nav-second__elem:hover {
  color: #4B5966;
  text-decoration: none;
}
.nav-second__elem_amount {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  color: #4B5966;
  background: #fff;
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
  position: absolute;
  display: inline-block;
  margin: -1.75em 0 0 0.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.nav-second__elem_text {
  top: 50%;
  left: 1em;
  right: 1em;
  bottom: 10px;
  z-index: 10;
  display: block;
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.nav-second__elem_text span {
  width: 100%;
  display: inline-block;
}
.nav-second__elem.active {
  background: #f9d1ca;
}
.nav-second__elem.active .nav-second__elem_amount {
  color: #fff;
  background: #ee4924;
}
.nav-second__profile.active .ico_svg {
  fill: #f89b1f;
}
.nav-second__profile .ico_svg {
  fill: #EFEDEA;
}
.nav-second__profile_content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  font-size: 0.75em;
  line-height: 1em;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-second__profile_text {
  margin: auto 0;
  padding: 0.625em;
  text-align: center;
}
.nav-second__profile_text strong {
  display: block;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
}
.nav-second__profile_text span {
  display: block;
}
.nav-second__message {
  background: #EFEDEA;
}
.nav-second__message.active {
  background: #f9d1ca;
}
.nav-second__invitation {
  background: #EFEDEA;
}
.nav-second__invitation.active {
  background: #bce9ec;
}
.nav-second__favorite .ico_svg {
  stroke: #4B5966;
  fill: transparent;
}
.nav-second__favorite.added .ico_svg {
  stroke: #f04924;
  fill: #f04924;
}
.nav-second__favorite_add {
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 40px;
  height: 32px;
  display: block;
  position: absolute;
  margin: -16px 0 0 -20px;
}
.nav-second__item {
  display: block;
  color: #4B5966;
  position: relative;
}
.nav-second__item:hover {
  color: #4B5966;
  text-decoration: none;
}
.nav-second__item_text {
  top: 55%;
  left: 1em;
  right: 1em;
  bottom: 6px;
  z-index: 10;
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-second__item_text span {
  display: block;
  margin: auto 0;
}
@media (min-width: 360px) {
  .nav-second__elem_amount {
    margin: -1.25em 0 0 0.75em;
  }
}
@media (min-width: 768px) {
  .nav-second {
    padding: 20px 20px;
  }
  .nav-second__col {
    width: 10em;
    padding: 0.5em;
  }
  .nav-second__elem_amount {
    width: 2em;
    height: 2em;
    font-size: 1em;
  }
  .nav-second__elem_text {
    font-size: 1em;
    line-height: 1.1;
  }
  .nav-second__item_text {
    top: 70px;
    font-size: 1em;
    line-height: 1.1;
  }
  .nav-second__profile_text strong {
    font-size: 1.5em;
    line-height: 1.1;
  }
}

.footer {
  padding: 30px 0;
}

.promo {
  margin: 0 -10px;
  overflow: hidden;
  width: calc(100% + 20px);
  max-width: calc(100% + 20px);
}
.promo__item {
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.promo__slider .swiper-pagination {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  bottom: 20px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.promo__slider .swiper-pagination-bullet {
  opacity: 0.4;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #000;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.promo__slider .swiper-pagination-bullet-active {
  opacity: 0.7;
}
@media (min-width: 768px) {
  .promo__item {
    height: 300px;
  }
}
@media (min-width: 1220px) {
  .promo {
    margin: 0;
    width: 100%;
  }
  .promo__item {
    height: 300px;
  }
}
.tour-block {
  width: 100vw;
  padding: 0 1em;
}

.main {
  padding-top: 1.5em;
  margin-bottom: 2.5em;
}
@media (min-width: 1220px) {
  .main {
    margin-bottom: 0;
  }
}

.info-header {
  z-index: 50;
  margin: 0 -10px;
  width: calc(100% + 20px);
  overflow: hidden;
  max-width: calc(100% + 20px);
  position: relative;
}
.info-header__wrap {
  z-index: 1;
  height: 200px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1220px) {
  .info-header {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.guide-bar {
  margin: 0 -0.625em;
  padding: 0.625em 0.625em;
  background: #ece9e4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.guide-bar__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.guide-bar__user_icon {
  width: 4em;
  height: 4em;
}
.guide-bar__user_icon .ico_svg {
  fill: #b6bbc1;
}
.guide-bar__user_text {
  font-size: 1em;
  line-height: 1.25em;
  padding-left: 1em;
}
.guide-bar__user_text strong {
  color: #df611a;
  display: block;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.1;
}
.guide-bar__user_text span {
  display: block;
}
.guide-bar__contact {
  width: 4em;
  height: 4em;
  background: #fdb10d;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.guide-bar__contact .ico_svg {
  stroke: #4B5966;
}
@media (min-width: 1220px) {
  .guide-bar {
    margin: 0;
  }
}

.infobox {
  background: #ece9e4;
  border: 1px solid #b9bcc3;
}

.page-top {
  color: #fff;
  margin: 0 -0.625em;
  width: calc(100% + 1.25em);
  font-size: 1em;
  line-height: 1.25em;
  background: #06a4cb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.page-top_yellow {
  background: #fcaf03;
}
.page-top a {
  width: 46px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  display: block;
}
.page-top a .ico_svg {
  stroke: #fff;
  display: block;
}
.page-top a:hover {
  color: #fff;
  text-decoration: none;
}
.page-top a:hover .ico_svg {
  stroke: #fff;
}
.page-top span {
  padding-left: 10px;
  display: inline-block;
}
@media (min-width: 1220px) {
  .page-top {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.social {
  font-size: 0;
  line-height: 0;
  margin: 0 -8px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.social_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.social_auth .social__item .ico_svg {
  fill: #929AA2;
}
.social__item {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  cursor: pointer;
  display: inline-block;
}

.comments__info {
  position: relative;
  border: 5px solid #34bad1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.comments__info:before {
  left: 50%;
  top: 10px;
  width: 1px;
  bottom: 10px;
  content: "";
  display: block;
  position: absolute;
  background: #34bad1;
}
.comments__info_summary {
  width: 50%;
  padding: 0.5em 0.5em;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1;
  color: #34bad1;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.comments__info_summary strong {
  font-size: 2.75em;
  line-height: 1;
  display: inline-block;
}
.comments__info_summary span {
  padding-left: 0.625em;
  display: inline-block;
}
.comments__info_rate {
  width: 50%;
  padding: 0.625em;
  text-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.comments__info_legend {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.2;
  margin-bottom: 0.25em;
}
.comments__info_legend strong {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}
.comments__info_star {
  color: #e25e14;
  font-size: 1.25em;
  line-height: 1;
}
.comments__text {
  font-size: 0.875em;
  line-height: 1.2;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 1em;
}
.comments__item {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #acbcc2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.comments__item:last-child {
  border-bottom: none;
}
.comments__item_avatar {
  width: 3.75em;
  height: 3.75em;
  position: relative;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.comments__item_avatar .ico_svg {
  z-index: 1;
  position: relative;
  fill: #acbcc2;
}
.comments__item_photo {
  top: 0;
  right: 0;
  z-index: 10;
  width: 3.75em;
  height: 3.75em;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comments__item_main {
  padding-left: 0.625em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.comments__item_header strong {
  color: #34bad1;
}
.comments__item_header span {
  padding-left: 0.375em;
}
.comments__action {
  text-align: center;
}
.comments__action_item {
  margin-bottom: 0.375em;
}
@media (min-width: 360px) {
  .comments__info_summary {
    font-size: 1em;
    line-height: 1;
  }
  .comments__info_summary strong {
    font-size: 2.75em;
  }
  .comments__info_legend {
    font-size: 1em;
  }
  .comments__info_legend strong {
    font-size: 2em;
  }
  .comments__info_star {
    color: #e25e14;
    font-size: 1.5em;
    line-height: 1;
  }
}

.main_wrap {
  margin: 0 auto;
  max-width: 30em;
}

.players__header {
  text-align: center;
  position: relative;
  padding: 0 1.25em 0.75em 1.25em;
}
.players__header_month {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.1;
  color: #34bad1;
  margin-bottom: 2px;
}
.players__header_date {
  font-size: 1.175em;
  line-height: 1.2;
}
.players__header_choice {
  font-size: 0.875em;
  line-height: 1.2;
  color: #4b5a66;
  text-decoration: none;
}
.players__header_nav {
  outline: none;
  opacity: 0.5;
  z-index: 10;
  top: 5px;
  width: 12px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
}
.players__header_nav .ico_svg {
  stroke: #4b5a66;
}
.players__header_nav:hover {
  opacity: 1;
}
.players__header_prev {
  left: 0;
}
.players__header_next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.players__legend {
  padding: 1em;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.125em;
  background: #ecede8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.players__legend_text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.players__legend_value {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 1em;
}
.players__item {
  padding: 0.25em 0.25em;
  font-size: 1em;
  line-height: 1.25em;
  border: 1px solid transparent;
  border-bottom-color: #ecede8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.players__item_guide {
  border: 2px dashed #dd621e;
  border-bottom-color: #dd621e;
}
.players__item_number {
  width: 2em;
  padding-right: 5px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.players__item_photo {
  width: 3em;
  height: 3em;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.players__item_name {
  padding: 0 0.625em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.players__item_name strong {
  font-weight: 700;
}
.players__item_status {
  width: 2em;
  text-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.players__item_elem {
  font-size: 0;
  line-height: 0;
  padding-left: 1em;
  padding-right: 0.25em;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.players__item_mail {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: inline-block;
}
.players__item_mail .ico_svg {
  fill: #4b5a66;
}
.players__item_remove {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: inline-block;
}
.players__item_remove .ico_svg {
  stroke: #4b5a66;
}

.players-status {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.players-status__one .ico_svg {
  fill: #4B5966;
  stroke: none;
}
.players-status__two .ico_svg {
  fill: #A5ACB3;
  stroke: none;
}
.players-status__three .ico_svg {
  fill: none;
  stroke: #4B5966;
}
.players-status__selected .ico_svg {
  fill: #FEB103 !important;
  stroke: none !important;
}

.auth {
  left: 0;
  right: 0;
  top: 50px;
  z-index: -1;
  opacity: 0;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  background: #ebe8e3;
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth.open {
  opacity: 1;
  z-index: 1500;
  visibility: visible;
}
.auth__wrap {
  padding-top: 20px;
}
.auth__box {
  max-width: 400px;
  padding: 2em 1em;
  margin: 0 auto;
}
.auth__title {
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.auth__subtitle {
  text-align: center;
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 10px;
}
.auth__text {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: center;
}
.auth__logo {
  width: 100px;
  height: 60px;
  display: block;
  margin: 0 auto 2em auto;
}
.auth__btn {
  padding-left: 2em;
  max-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.auth__btn_item {
  padding: 0 0.625em;
}

.tour {
  display: grid;
  margin-bottom: 2.5em;
  grid-gap: 0 2em;
  align-content: start;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.tour:last-child {
  margin-bottom: 0;
}
.tour__elem {
  margin-bottom: 1.25em;
  grid-column: span 2;
}
.tour__elem:last-child {
  margin-bottom: 0;
}
.tour__header_title {
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.125;
  margin-bottom: 0.5em;
}
.tour__header_edit a {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  padding: 0.75em 1em;
  font-size: 1em;
  line-height: 1.25em;
  color: #4b5a66;
  background: #ece9e4;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.tour__header_edit a:hover {
  color: #4b5a66;
  text-decoration: none;
}
.tour__meta {
  max-width: 470px;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.tour__meta_item {
  padding-right: 1.25em;
}
.tour__meta_info {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__meta_info i {
  width: 1.75em;
  height: 1.75em;
  font-size: 0;
  line-height: 0;
  display: block;
}
.tour__meta_info .ico_svg {
  display: block;
  stroke: #4B5966;
}
.tour__meta_info span {
  display: inline-block;
}
.tour__meta_label {
  font-size: 0.875em;
  line-height: 1em;
}
.tour__rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__rating_star {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #dd621e;
}
.tour__rating_value {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.75em;
  padding-left: 0.375em;
}
.tour__title {
  font-weight: 900;
  font-size: 2em;
  line-height: 2.25em;
  margin-bottom: 0.5em;
}
.tour__text {
  font-size: 1em;
  max-height: 4em;
  overflow: hidden;
  line-height: 1.25em;
  text-overflow: ellipsis;
}
.tour__info {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__info_item:first-child {
  width: 11.5em;
}
.tour__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__user_icon {
  width: 4em;
  height: 4em;
}
.tour__user_icon .ico_svg {
  fill: #b6bbc1;
  display: block;
}
.tour__user_text {
  font-size: 1em;
  line-height: 1.25em;
  padding-left: 1em;
}
.tour__user_text strong {
  color: #df611a;
  display: block;
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.25;
}
.tour__user_text span {
  display: block;
}
.tour__duration strong {
  display: block;
  font-weight: 700;
  font-size: 2.375em;
  line-height: 1.75em;
}
.tour__duration span {
  display: block;
}
.tour__nav_link {
  height: 42px;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__nav_link .ico_svg {
  stroke: #fff;
}
.tour__nav_link:hover {
  color: #fff;
  text-decoration: none;
}
.tour__nav_link:hover .ico_svg {
  stroke: #fff;
}
.tour__nav_link i {
  width: 46px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.tour__nav_link i {
  padding-left: 5px;
  display: inline-block;
}
.tour__image {
  height: 300px;
}
.tour__content {
  padding: 0.75em 1em 1em 1em;
  background: #ebe8e3;
  position: relative;
}
.tour__content_nav {
  outline: none;
  opacity: 0.5;
  z-index: 10;
  top: 5px;
  width: 12px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
}
.tour__content_nav .ico_svg {
  stroke: #4b5a66;
}
.tour__content_nav:hover {
  opacity: 1;
}
.tour__content_prev {
  left: 0;
}
.tour__content_next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tour__content_header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 0.75em;
  text-align: center;
}
.tour__content_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.tour__content_map {
  width: 50%;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tour__content_image {
  height: 120px;
  margin-left: 10px;
  background: #b6bbc1;
  width: calc(25% - 10px);
}
.tour__more {
  text-align: center;
  grid-column: span 2;
}
.tour__edit {
  padding-top: 15px;
  text-align: center;
  grid-column: span 2;
}
.tour__gallery_map {
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tour__gallery_image {
  height: 120px;
  background: #b6bbc1;
}
@media (min-width: 768px) {
  .tour {
    margin-bottom: 70px;
  }
  .tour__header {
    display: grid;
    grid-gap: 0 2em;
    padding-bottom: 10px;
    align-content: start;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  .tour__header_title {
    margin-bottom: 0;
  }
  .tour__meta_label {
    font-size: 1em;
    line-height: 1.25em;
  }
  .tour__meta_info {
    font-size: 1.2em;
  }
  .tour__text {
    font-size: 1.25em;
    line-height: 1.25em;
    max-height: 4em;
  }
  .tour__content_map {
    width: 240px;
    height: 140px;
  }
  .tour__content_image {
    width: 110px;
    height: 140px;
  }
  .tour__more {
    padding-top: 10px;
  }
  .tour__more .btn {
    min-width: 240px;
  }
  .tour__gallery_map {
    height: 140px;
  }
  .tour__gallery_image {
    height: 140px;
  }
}
@media (min-width: 1024px) {
  .tour__elem {
    grid-column: auto;
  }
  .tour__elem_long {
    grid-column: span 2;
  }
}
@media (min-width: 1430px) {
  .tour {
    grid-gap: 0 2.5em;
  }
  .tour__header {
    grid-gap: 0 2.5em;
  }
}

.tour-detail {
  display: grid;
  grid-gap: 0 20px;
  align-content: start;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.tour-detail__half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tour-detail__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.tour-detail__button {
  padding-top: 20px;
}
.tour-detail__button .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .tour-detail {
    grid-gap: 0 40px;
  }
}

.tour-amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour-amount__summary {
  width: 4em;
  height: 4em;
  padding: 0.25em;
  text-align: center;
  color: #34bad1;
  border: 5px solid #34bad1;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tour-amount__summary_wrap {
  display: block;
  margin: auto 0;
}
.tour-amount__summary strong {
  display: block;
  font-size: 1.75em;
  line-height: 1;
  font-weight: 700;
}
.tour-amount__summary span {
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
}
.tour-amount__text {
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1.25;
  padding-left: 0.5em;
  max-width: 130px;
}
.tour-amount__info {
  margin: auto 0;
  font-size: 0.75em;
  line-height: 1.25;
}
.tour-amount__info strong {
  display: block;
  font-weight: 700;
}
.tour-amount__info span {
  display: block;
}
.tour-amount_brown {
  background: #9d8e7a;
}
.tour-amount_brown .tour-amount__summary {
  color: #fff;
  width: 50px;
  background: #9d8e7a;
  border-color: #9d8e7a;
}
.tour-amount_brown .tour-amount__text {
  color: #fff;
  padding-right: 8px;
  padding-left: 0;
}
@media (min-width: 360px) {
  .tour-amount__summary {
    width: 4.5em;
    height: 4.5em;
  }
  .tour-amount__summary strong {
    font-size: 2em;
    line-height: 1;
  }
  .tour-amount__summary span {
    font-size: 1.125em;
    line-height: 1.125em;
  }
  .tour-amount__text {
    font-size: 0.875em;
    line-height: 1.25;
  }
  .tour-amount__info {
    margin: auto 0;
    font-size: 0.875em;
    line-height: 1.25;
  }
  .tour-amount_brown .tour-amount__summary {
    width: 3.75em;
  }
}
@media (min-width: 768px) {
  .tour-amount__summary {
    width: 7em;
    height: 7em;
  }
  .tour-amount__summary strong {
    font-weight: 400;
    font-size: 3em;
    line-height: 1;
  }
  .tour-amount__summary span {
    font-size: 1.625em;
    line-height: 1.2;
  }
  .tour-amount__text {
    max-width: inherit;
    font-size: 1.625em;
    line-height: 1.25;
  }
  .tour-amount__info {
    font-size: 1.625em;
    line-height: 1.25;
  }
  .tour-amount_brown .tour-amount__summary {
    width: 90px;
  }
}
@media (min-width: 1024px) {
  .tour-amount__summary {
    width: 5rem;
    height: 5rem;
  }
  .tour-amount__summary strong {
    font-weight: 400;
    font-size: 2.25em;
    line-height: 1.1;
  }
  .tour-amount__summary span {
    font-size: 1.25em;
    line-height: 1.25;
  }
  .tour-amount__text {
    font-size: 1.25em;
    line-height: 1.25;
  }
  .tour-amount__info {
    font-size: 1.25em;
    line-height: 1.25;
  }
  .tour-amount__info_compact {
    font-size: 1rem;
    line-height: 1.1;
  }
  .tour-amount_brown .tour-amount__summary {
    width: 5rem;
  }
}
.point__header {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.75em;
}
.point__group {
  margin-bottom: 0.5em;
}
.point__group_title {
  font-weight: 400;
  font-size: 1.375em;
  line-height: 1.2;
  cursor: pointer;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #e8e8e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.point__group_title span {
  display: inline-block;
}
.point__group_title i {
  width: 9px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.point__group_title i .ico_svg {
  stroke: #4b5a66;
}
.point__group_content {
  display: none;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.point__group.active .point__group_title {
  font-weight: 700;
}
.point__group.active .point__group_title i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.point-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.point-list > li {
  padding: 0.5rem 0 0 3.75em;
  position: relative;
  margin-bottom: 1em;
}
.point-list > li:before {
  top: 3.125em;
  left: 1.375em;
  bottom: 0;
  content: "";
  width: 1px;
  position: absolute;
  background: #4C5A66;
}
.point-list > li:last-child:before {
  display: none;
}
.point-list > li.active .point-list__icon .ico_svg {
  fill: #E2621E;
  stroke: #E2621E;
}
.point-list > li.active .point-list__header_title {
  color: #E2621E;
}
.point-list__icon {
  top: 0;
  left: 0;
  width: 46px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: inline-block;
}
.point-list__icon .ico_svg {
  fill: none;
  stroke: #4C5A66;
}
.point-list__header {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
.point-list__header_title {
  font-size: 1.125em;
  font-weight: 700;
}
.point-list__header_info {
  opacity: 0.8;
}
.point-list__item {
  font-size: 0.875em;
  line-height: 1.25;
  margin-bottom: 0.75em;
}
.point-list__item.active .point-list__item_title:before {
  top: 50%;
  height: 1px;
  width: 25px;
  left: -37px;
  content: "";
  display: block;
  position: absolute;
  background: #4C5A66;
}
.point-list__item.active .point-list__item_title:after {
  top: 50%;
  left: -20px;
  width: 10px;
  height: 10px;
  z-index: 20;
  content: "";
  margin-top: -5px;
  position: absolute;
  display: inline-block;
  background: #dd621e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.point-list__item_title {
  font-weight: 500;
  font-size: 1em;
  position: relative;
}
.point-list__item_title a {
  color: #4b5a66;
  text-decoration: none;
}
.point-list__item_text {
  opacity: 0.8;
}

.map-point__header {
  margin-bottom: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.map-point__header_title {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.map-point__header_title strong {
  font-weight: 700;
}
.map-point__header_nav {
  outline: none;
  opacity: 0.5;
  z-index: 10;
  top: 5px;
  width: 12px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
}
.map-point__header_nav .ico_svg {
  stroke: #4b5a66;
}
.map-point__header_nav:hover {
  opacity: 1;
}
.map-point__header_prev {
  left: 0;
}
.map-point__header_next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.map-point__source {
  height: 400px;
  background: url("../images/map.png") 50% 50% no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .map-point__main {
    margin: 0;
  }
}

.points {
  position: relative;
}
.points__nav {
  outline: none;
  opacity: 0.5;
  z-index: 20;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.points__nav .ico_svg {
  stroke: #4b5a66;
}
.points__nav_prev {
  left: 10px;
}
.points__nav_next {
  right: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.points__nav:hover {
  opacity: 1;
}
.points__header {
  padding: 0.75em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  background: #eee9e6;
}

.point-box {
  padding: 0.75em 0.625em;
  background: #fff;
  max-width: 320px;
  margin: 0 auto;
}
.point-box__header {
  font-weight: 600;
  margin-bottom: 0.75em;
}
.point-box__place {
  font-size: 1em;
  line-height: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.point-box__place i {
  width: 46px;
  display: block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.point-box__place span {
  padding-left: 0.5em;
}
.point-box__content {
  font-size: 1em;
  padding-left: 1em;
  line-height: 1.25em;
}

.profile-new {
  padding: 0 0;
  max-width: 30em;
  margin: 0 auto;
}
.profile-new__title {
  font-size: 1.5em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.75em;
}
.profile-new__status {
  padding: 0.625em 1em;
  background: #ebe8e3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.profile-new__status_label {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.profile-new__status_value {
  margin-left: 0.625em;
  font-weight: 400;
  position: relative;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.profile-new__status_value input {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
}
.profile-new__status_value span {
  width: 6em;
  padding: 0.5em 0.5em;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.25em;
  color: #4b5a66;
  text-align: center;
  display: inline-block;
  border: 1px solid #4b5a66;
}
.profile-new__status_value input:checked + span {
  color: #fff;
  background: #4b5a66;
}
.profile-new__upload {
  padding-top: 0.625em;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.profile-new__subtitle {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0.875em;
}
.profile-new__button {
  padding-top: 0.625em;
}
.profile-new__button .btn {
  width: 16em;
}

.file-photo {
  cursor: pointer;
  font-weight: 400;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.file-photo input {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
}
.file-photo__image {
  width: 4em;
  height: 4em;
  display: inline-block;
}
.file-photo__text {
  padding: 0 0.313em;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.1;
  display: inline-block;
}

.file-image {
  cursor: pointer;
  font-weight: 400;
  position: relative;
  display: inline-block;
}
.file-image input {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
}
.file-image span {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.1;
  padding: 0.5em 1em;
  color: #4b5a66;
  display: inline-block;
  border: 1px solid #4b5a66;
}

.form-social {
  font-size: 0;
  line-height: 0;
  margin: 0 -8px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form-social a {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  cursor: pointer;
  display: inline-block;
}

.profile-header {
  z-index: 500;
  margin: 0 -0.625em;
  position: relative;
  margin-bottom: 3em;
}
.profile-header__bg {
  z-index: 1;
  height: 180px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.profile-header__photo {
  z-index: 10;
  right: 10px;
  bottom: -55px;
  width: 150px;
  height: 150px;
  padding: 5px;
  background: #fff;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.profile-header__photo_wrap {
  width: 140px;
  height: 140px;
  display: block;
}
.profile-header__photo_wrap .ico_svg {
  fill: #b6bbc1;
}
@media (min-width: 1220px) {
  .profile-header {
    height: 200px;
    margin: 0;
  }
}

.profile {
  margin: 0 auto;
  max-width: 30em;
}
.profile__info {
  color: #495866;
  margin-bottom: 2em;
}
.profile__info_name {
  font-weight: 400;
  margin-bottom: 0.625em;
}
.profile__info_name strong {
  display: block;
  font-size: 1.5em;
  line-height: 1.2;
}
.profile__info_name span {
  display: block;
  font-size: 1.25em;
  line-height: 1.2;
  color: #dd621e;
}
.profile__info_text {
  font-size: 1em;
  line-height: 1.25em;
}
.profile__contact {
  margin-bottom: 0.625em;
}
.profile__contact_title {
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.2;
  text-align: center;
  padding: 0.25em 0.75em;
  background: #fcaf03;
}
.profile__contact_main {
  padding: 20px 15px;
  background: #ebe8e3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile__contact_left {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.profile__contact_rigth {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.profile__contact_email {
  color: #495866;
  font-size: 1em;
  line-height: 1.25em;
  text-decoration: none;
  display: inline-block;
}
.profile__contact_email:hover {
  color: #495866;
  text-decoration: none;
}
.profile__contact_phone {
  display: block;
  color: #495866;
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.25;
  margin-bottom: 1.125em;
  text-decoration: none;
}
.profile__contact_phone:hover {
  color: #495866;
  text-decoration: none;
}
.profile__contact_message {
  width: 56px;
  font-size: 0.813rem;
  line-height: 1.1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.profile__contact_message i {
  font-size: 0;
  line-height: 0;
  width: 56px;
  height: 56px;
  background: #fdb10d;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.profile__contact_message span {
  display: block;
}
.profile__contact_message .ico_svg {
  stroke: #4B5966;
}
.profile__links {
  display: grid;
  grid-gap: 0.75em;
  align-content: start;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.profile__links_item {
  color: #fff;
  position: relative;
  text-decoration: none;
}
.profile__links_item:hover {
  color: #fff;
  text-decoration: none;
}
.profile__links_item i {
  z-index: 10;
  display: block;
  position: relative;
}
.profile__links_item span {
  left: 0;
  right: 0;
  top: calc(55% + 1.25em);
  z-index: 20;
  display: block;
  font-size: 1em;
  line-height: 1.25em;
  position: absolute;
  text-align: center;
}

.docs__header {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0.5em;
}

.doc-item {
  margin-bottom: 2.5em;
}
.doc-item:last-child {
  margin-bottom: 0;
}
.doc-item__title {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
.doc-item__content {
  margin-bottom: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.doc-item__content_date {
  opacity: 0.8;
  font-size: 0.875em;
}
.doc-item__content_main {
  padding-right: 0.625em;
  font-size: 1em;
  line-height: 1.25em;
}
.doc-item__content_image {
  width: 35%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.doc-item__content_image a {
  display: block;
}
.doc-item__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.doc-item__info_file {
  width: 35%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.doc-item__author {
  font-size: 1em;
  line-height: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.doc-item__author_avatar {
  width: 3em;
  height: 3em;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.doc-item__author_name {
  padding-left: 0.625em;
}
.doc-item__author_name strong {
  font-weight: 700;
  color: #dd621e;
}
.doc-item__actions {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.doc-item__actions_button {
  width: 50%;
  height: 40px;
  font-weight: 400;
  padding: 8px 10px;
  background: #ece7e4;
  color: #4b5a66;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.doc-item__actions_button i {
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.doc-item__actions_button .ico_svg {
  stroke: #4b5a66;
}
.doc-item__actions_button span {
  padding-left: 10px;
  display: inline-block;
}
.doc-item__actions_button:hover {
  color: #4b5a66;
  background: #dcd7d4;
  text-decoration: none;
}

.doc__title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}
.doc__title:before {
  padding-right: 0.25em;
  display: inline-block;
  content: attr(data-num);
}
.doc__title span {
  display: inline-block;
}
.doc__meta {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.doc__meta_author {
  min-width: 160px;
  padding-right: 1.25em;
}
.doc__meta_date {
  opacity: 0.7;
  font-size: 1em;
  line-height: 1.25em;
}
.doc__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.doc__author_photo {
  width: 3.75em;
  height: 3.75em;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.doc__author_name {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.25em;
  padding-left: 0.5em;
  color: #dd621e;
}
.doc__text {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.5em;
}
.doc__gallery {
  width: 300px;
  margin: 0 auto 30px auto;
}
.doc__gallery_slider {
  overflow: visible;
}
.doc__gallery_item {
  display: block;
  height: 250px;
  background-color: #ece9e5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.doc__gallery .swiper-slide {
  opacity: 0.5;
}
.doc__gallery .swiper-slide-active {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
