* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

html,
body {
	height: 100%;
	max-width: 100%;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

body {
	width: 100%;
	max-width: 100%;
	font-weight: 300;
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
}

.page {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	min-height: 100%;
	padding-top: 100px;

	@media (min-width: $screen-lg-min) {
		padding-top: 110px;
	}
}

.nav {
	height: 50px;
	background: #ece7e4;
}


.container {
	margin: 0 auto;
	padding: 0 10px;
	@include clearfix;
}

// grid

.grid {
	display: grid;
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1400px;
	min-height: 100%;
	align-content: start;
	grid-template-rows: auto;
	grid-template-columns: [line1] 1fr  [line2] 1fr  [line3] 1fr  [line4] 1fr  [line5] 1fr  [line6] 1fr  [line7] 1fr  [line8] 1fr  [line9] 1fr  [line10] 1fr  [line11] 1fr;

	@media (min-width: $screen-lg-min) {
		grid-gap: 10px 30px;
	}
}


.header {
	grid-area: header;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}


.promo {
	grid-area: top;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}

.page-top {
	grid-area: top;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}

.info-header {
	grid-area: top;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}

.guide-bar {
	grid-area: top;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}

.profile-header {
	grid-area: top;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}

.main {
	grid-area: main;
	grid-column: line1 / line12;
	grid-row: auto / auto;

	@media (min-width: $screen-lg-min) {
		grid-column: line1 / line9;

		&_single{
			grid-column: line1 / line12;
		}
	}
}


.infobox {
	grid-area: infobox;
	grid-column: line1 / line12;
	grid-row: auto / auto;

	@media (min-width: $screen-lg-min) {
		grid-column: line9 / line12;
	}
}

.footer {
	grid-area: footer;
	grid-column: line1 / line12;
	grid-row: auto / auto;
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 3.2rem;
	font-family: $font-family-head;
}

h2, .h2 {
	font-size: 	3rem;
	font-family: $font-family-head;
}

h3, .h3 {
	font-size: 2.4rem;
	font-family: $font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 20px 0;
}

// Links

a {
	outline: none;
	color: $color-base;
	text-decoration: underline;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $color-base;
		text-decoration: none;
	}
}
