.docs {

	&__header {
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.25;
		text-align: center;
		margin-bottom: 0.5em;
	}
}

.doc-item {
	margin-bottom: 2.5em;

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		font-weight: 700;
		font-size: 1.25em;
		line-height: 1.25;
		margin-bottom: 0.5em;
	}

	&__content {
		margin-bottom: 0.625em;
		@include flexbox();
		@include justify-content(space-between);

		&_date {
			opacity: 0.8;
			font-size: 0.875em;
		}

		&_main {
			padding-right: 0.625em;
			font-size: 1em;
			line-height: 1.25em;
		}

		&_image {
			width: 35%;
			@include flex-shrink(0);

			a {
				display: block;
			}
		}
	}

	&__info {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_file {
			width: 35%;
			@include flex-shrink(0);
		}
	}
	&__author {
		font-size: 1em;
		line-height: 1.25em;
		@include flexbox();
		@include align-items(center);

		&_avatar {
			width: 3em;
			height: 3em;
			@include flex-shrink();
		}

		&_name {
			padding-left: 0.625em;

			strong {
				font-weight: 700;
				color: $color-orange;
			}
		}
	}


	&__actions {
		margin-bottom: 1em;
		@include flexbox();
		@include align-items(center);

		&_button {
			width: 50%;
			height: 40px;
			font-weight: 400;
			padding: 8px 10px;
			background: #ece7e4;
			color: $color-base;
			text-decoration: none;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			i {
				width: 24px;
				height: 24px;
				font-size: 0;
				line-height: 0;
				display: inline-block;
			}

			.ico_svg {
				stroke:  $color-base;
			}

			span {
				padding-left: 10px;
				display: inline-block;
			}

			&:hover {
				color: $color-base;
				background: #dcd7d4;
				text-decoration: none;
			}
		}
	}
}

.doc {

	&__title {
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.2;
		margin-bottom: 0.75em;
		@include flexbox();
		@include align-items(flex-start);

		&:before {
			padding-right: 0.25em;
			display: inline-block;
			content: attr(data-num);
		}

		span {
			display: inline-block;
		}
	}

	&__meta {
		margin-bottom: 1em;
		@include flexbox();
		@include align-items(center);

		&_author {
			min-width: 160px;
			padding-right: 1.25em;
		}

		&_date {
			opacity: 0.7;
			font-size: 1em;
			line-height: 1.25em;
		}
	}

	&__author {
		@include flexbox();
		@include align-items(center);

		&_photo {
			width: 3.75em;
			height: 3.75em;
			display: block;
			overflow: hidden;
			@include border-radius(50%);
		}

		&_name {
			font-weight: 700;
			font-size: 1em;
			line-height: 1.25em;
			padding-left: 0.5em;
			color: $color-orange;
		}
	}

	&__text {
		font-size: 1em;
		line-height: 1.4;
		margin-bottom: 1.5em;
	}

	&__gallery {
		width: 300px;
		margin: 0 auto 30px auto;


		&_slider {
			overflow: visible;
		}

		&_item {
			display: block;
			height: 250px;
			background-color: #ece9e5;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: auto 100%;
		}

		.swiper-slide {
			opacity: 0.5;
		}

		.swiper-slide-active {
			opacity: 1;
		}
	}
}
