.profile-new {
	padding: 0 0;
	max-width: 30em;
	margin: 0 auto;

	&__title {
		font-size: 1.5em;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 0.75em;
	}

	&__status {
		padding: 0.625em 1em;
		background: #ebe8e3;
		@include flexbox();
		@include align-items(center);

		&_label {
			font-weight: 400;
			font-size: 1em;
			line-height: 1.25em;
			display: inline-block;
			@include flex-grow(1);
		}

		&_value {
			margin-left: 0.625em;
			font-weight: 400;
			position: relative;
			display: inline-block;
			@include flex-shrink(0);

			input {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				display: inline-block;
			}

			span {
				width: 6em;
				padding: 0.5em 0.5em;
				cursor: pointer;
				font-size: 1em;
				line-height: 1.25em;
				color: $color-base;
				text-align: center;
				display: inline-block;
				border: 1px solid $color-base;
			}

			input:checked + span {
				color: #fff;
				background: $color-base;
			}
		}
	}

	&__upload {
		padding-top: 0.625em;
		margin-bottom: 1.5em;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__subtitle {
		font-weight: 700;
		font-size: 1.125em;
		line-height: 1.2;
		margin-bottom: 0.875em;
	}

	&__button {
		padding-top: 0.625em;

		.btn {
			width: 16em;
		}
	}
}

.file-photo {
	cursor: pointer;
	font-weight: 400;
	position: relative;
	@include flexbox();
	@include align-items(center);

	input {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		display: inline-block;
	}

	&__image {
		width: 4em;
		height: 4em;
		display: inline-block;
	}

	&__text {
		padding: 0 0.313em;
		font-weight: 400;
		font-size: 0.875em;
		line-height: 1.1;
		display: inline-block;
	}
}

.file-image {
	cursor: pointer;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		display: inline-block;
	}

	span {
		font-weight: 400;
		font-size: 0.875em;
		line-height: 1.1;
		padding: 0.5em 1em;
		color: $color-base;
		display: inline-block;
		border: 1px solid $color-base;
	}
}

.form-social {
	font-size: 0;
	line-height: 0;
	margin: 0 -8px;
	text-align: center;
	@include flexbox();
	@include align-items(center);

	a {
		width: 40px;
		height: 40px;
		margin: 0 8px;
		cursor: pointer;
		display: inline-block;
	}
}

.profile-header {
	z-index: 500;
	margin: 0 -0.625em;
	position: relative;
	margin-bottom: 3em;

	&__bg {
		z-index: 1;
		height: 180px;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&__photo {
		z-index: 10;
		right: 10px;
		bottom: -55px;
		width: 150px;
		height: 150px;
		padding: 5px;
		background: #fff;
		position: absolute;
		@include border-radius(50%);

		&_wrap {
			width: 140px;
			height: 140px;
			display: block;

			.ico_svg {
				fill: #b6bbc1;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 200px;
		margin: 0;
	}
}

.profile {
	margin: 0 auto;
	max-width: 30em;

	&__info {
		color: #495866;
		margin-bottom: 2em;

		&_name {
			font-weight: 400;
			margin-bottom: 0.625em;

			strong {
				display: block;
				font-size: 1.5em;
				line-height: 1.2;
			}

			span {
				display: block;
				font-size: 1.25em;
				line-height: 1.2;
				color: $color-orange;
			}
		}

		&_text {
			font-size: 1em;
			line-height: 1.25em;
		}
	}

	&__contact {
		margin-bottom: 0.625em;

		&_title {
			color: #fff;
			font-weight: 500;
			font-size: 1.25em;
			line-height: 1.2;
			text-align: center;
			padding: 0.25em 0.75em;
			background: #fcaf03;
		}

		&_main {
			padding: 20px 15px;
			background: #ebe8e3;
			@include flexbox();
		}

		&_left {
			@include flex-grow(1);
		}

		&_rigth {
			@include flex-shrink(0);
		}

		&_email {
			color: #495866;
			font-size: 1em;
			line-height: 1.25em;
			text-decoration: none;
			display: inline-block;

			&:hover {
				color: #495866;
				text-decoration: none;
			}
		}

		&_phone {
			display: block;
			color: #495866;
			font-weight: 700;
			font-size: 1.375em;
			line-height: 1.25;
			margin-bottom: 1.125em;
			text-decoration: none;

			&:hover {
				color: #495866;
				text-decoration: none;
			}
		}

		&_message {
			width: 56px;
			font-size: 0.813rem;
			line-height: 1.1;
			text-decoration: none;
			display: inline-block;
			text-align: center;

			i {
				font-size: 0;
				line-height: 0;
				width: 56px;
				height: 56px;
				background: #fdb10d;
				display: inline-block;
				@include border-radius(50%);
			}

			span {
				display: block;
			}

			.ico_svg {
				stroke: #4B5966;
			}
		}
	}

	&__links {
		display: grid;
		grid-gap: 0.75em;
		align-content: start;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;

		&_item {
			color: #fff;
			position: relative;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: none;
			}

			i {
				z-index: 10;
				display: block;
				position: relative;
			}

			span {
				left: 0;
				right: 0;
				top: calc(55% + 1.25em);
				z-index: 20;
				display: block;
				font-size: 1em;
				line-height: 1.25em;
				position: absolute;
				text-align: center;
			}
		}
	}
}