.header {
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	z-index: 1500;
	position: fixed;
	background: #fff;

	&__wrap {
		margin: 0 auto;
		max-width: 1400px;
	}

	&__top {
		display: grid;
		margin: 0 auto;
		padding: 0 10px;
		max-width: $max-width;
		grid-template-columns: 46px 122px auto 46px;
		align-items: center;
		align-content: center;
		justify-items: center;
	}

	&__toggle {
		margin: 0;
		padding: 0;
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;
		background: transparent;

		i {
			top: 50%;
			left: 50%;
			width: 46px;
			height: 30px;
			opacity: 1;
			visibility: visible;
			position: absolute;
			display: inline-block;
			margin: -15px 0 0 -23px;
			@include transition(.3s);
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 5;
			content: '';
			width: 32px;
			height: 1px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: $color-base;
			margin: -1px 0 0 -16px;
			@include transition(.3s);
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}

		&.open {

			i {
				opacity: 0;
				visibility: hidden;
				@include transition(.3s);
			}

			&:after,
			&:before {
				opacity: 1;
				visibility: visible;
				@include transition(.3s);
			}
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		width: 50px;
		height: 50px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;
		background: transparent;

		i {
			top: 50%;
			left: 50%;
			width: 46px;
			height: 43px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			margin: -21px 0 0 -23px;

			&.header__nav_base {
				z-index: 1;
				opacity: 1;
				visibility: visible;
				stroke: #4B5966;
			}

			&.header__nav_one {
				z-index: 2;
				fill: #f89b1f;
				stroke: #f89b1f;
			}

			&.header__nav_two {
				z-index: 2;
				fill: #ef4924;
				stroke: #ef4924;
			}

			&.header__nav_three {
				z-index: 2;
				fill: #9cdee3;
				stroke: #9cdee3;
			}
		}


		&.alert_one {

			i {
				&.header__nav_one {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&.alert_two {

			i {
				&.header__nav_two {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&.alert_three {

			i {
				&.header__nav_three {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__logo {
		font-size: 0;
		line-height: 0;
		margin-left: 10px;
		display: inline-block;
	}

	@media (min-width: $screen-lg-min) {

	}
}

.header-bar {
	height: 50px;
	padding-right: 10px;
	background: #ece7e4;
	display: grid;
	overflow: hidden;
	position: relative;
	grid-template-columns: auto 46px;

	&__menu {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);
	}

	&__button {
		width: 60px;
		height: 50px;
		font-size: 0;
		line-height: 0;
		border: none;
		outline: none;
		cursor: pointer;
		position: relative;
		display: inline-block;
		background: transparent;

		i {
			top: 50%;
			left: 50%;
			width: 46px;
			height: 43px;
			position: absolute;
			display: inline-block;
			margin: -21px 0 0 -23px;
		}

		.ico_svg {
			fill: #4B5966;
			stroke: #4B5966;
		}

		&.active {
			background: #06a4cb;

			.ico_svg {
				fill: #fff;
				stroke: #fff;
			}
		}
	}

	&__search {
		width: 50px;
		height: 50px;

		&_toggle {
			margin: 0;
			padding: 0;
			z-index: 20;
			width: 50px;
			height: 50px;
			border: none;
			outline: none;
			display: block;
			cursor: pointer;
			position: relative;
			background: #ece7e4;

			i {
				top: 50%;
				left: 50%;
				width: 46px;
				height: 43px;
				display: block;
				position: absolute;
				margin: -21px 0 0 -23px;
			}

			.ico_svg {
				display: block;
				stroke: #4B5966;
			}
		}

		&_content {
			top: 0;
			left: 0;
			z-index: 10;
			right: 50px;
			height: 50px;
			padding-left: 10px;
			margin-left: 150%;
			position: absolute;
			background: #ece7e4;
			@include flexbox();
			@include align-items(center);
			@include transition(.3s);
		}

		&_arrow {
			width: 46px;
			height: 42px;
			display: block;
			position: relative;
			@include flex-shrink(0);

			.ico_svg {
				stroke: $color-base;
			}
		}

		&_input {
			padding: 0 10px;
			@include flex-grow(1);

			input[type='text'] {
				margin: 0;
				width: 100%;
				border: none;
				outline: none;
				padding: 2px 0;
				font-size: 1em;
				line-height: 2em;
				color: $color-base;
				display: inline-block;
				vertical-align: middle;
				background: transparent;
				@include placeholder($color-base);

				&:focus {
					@include placeholder(transparent);
				}
			}
		}

		&.open {

			.header-bar__search_content {
				margin-left: 0;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 10px;
	}
}


.nav {
	left: 0;
	right: 0;
	top: 100px;
	display: none;
	overflow-y: auto;
	height: calc(100% - 100px);
	z-index: 1500;
	font-size: 1.375em;
	line-height: 1.5em;
	position: fixed;
	background: #fff;

	&.open {
		z-index: 1600;
		display: block;
	}

	&__wrap {
		max-width: $screen-xl-min;
		margin: 0 auto;
	}


	&__content {
		margin: 0;
		padding: 0.5em 0;
		list-style: none;

		> li {

			> a {
				width: 100%;
				padding: 0.5em 1.5em;
				color: $color-base;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);

				span {
					display: inline-block;
				}

				i {
					width: 12px;
					height: 19px;
					font-size: 0;
					line-height: 0;
					display: inline-block;
					@include rotate(-90deg);
					@include transition(.3s);
				}

				.ico_svg {
					stroke: #4B5966;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				display: none;
				list-style: none;

				li {

					a {
						text-decoration: none;
						display: inline-block;
						padding: 8px 0 8px 60px;
					}
				}
			}

			&.open {
				background: #efeeea;

				> a {
					font-weight: 700;

					i {
						@include rotate(-270deg);
						@include transition(.3s);
					}
				}

				ul {
					background: #efeeea;

					li {

						&.active {

							a {
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}

.nav-second {
	left: 0;
	right: 0;
	top: 6.250em;
	display: none;
	position: fixed;
	overflow-y: auto;
	background: #fff;
	border-top: 1px solid #4B5966;
	height: calc(100% - 6.25em);

	.ico_svg {
		display: block;
	}

	&.open {
		z-index: 1600;
		display: block;
	}

	&__row {
		margin: 0 auto;
		max-width: $screen-xl-min;
		padding: 1em .375em;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__col {
		padding: 0.25em;
		width: 33.33%;
		max-width: 10em;
		@include flex-shrink();
	}

	&__elem {
		color: #4B5966;
		display: block;
		position: relative;
		text-decoration: none;
		@include border-radius(50%);

		&:hover {
			color: #4B5966;
			text-decoration: none;
		}

		&_amount {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 2em;
			height: 2em;
			padding: 0.5em 0;
			color: #4B5966;
			background: #fff;
			font-size: 0.75em;
			line-height: 1em;
			text-align: center;
			position: absolute;
			display: inline-block;
			margin:  -1.75em 0 0 0.5em;
			@include border-radius(50%);
		}

		&_text {
			top: 50%;
			left: 1em;
			right: 1em;
			bottom: 10px;
			z-index: 10;
			display: block;
			font-size: 0.75em;
			line-height: 1em;
			text-align: center;
			position: absolute;
			@include flexbox();
			@include align-items(center);

			span {
				width: 100%;
				display: inline-block;
			}
		}

		&.active {
			background: #f9d1ca;

			.nav-second__elem_amount {
				color: #fff;
				background: #ee4924;
			}
		}
	}

	&__profile {

		&.active {

			.ico_svg {
				fill: #f89b1f;
			}
		}

		.ico_svg {
			fill: #EFEDEA;
		}

		&_content {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			font-size: 0.75em;
			line-height: 1em;
			position: absolute;
			@include flexbox();
			@include flex-direction(column);
		}

		&_text {
			margin: auto 0;
			padding: 0.625em;
			text-align: center;

			strong {
				display: block;
				font-weight: 400;
				font-size: 1.5em;
				line-height: 1.5em;
			}

			span {
				display: block;
			}
		}
	}

	&__message {
		background: #EFEDEA;

		&.active {
			background: #f9d1ca;
		}
	}

	&__invitation {
		background: #EFEDEA;

		&.active {
			background: #bce9ec;
		}
	}
	&__favorite {

		.ico_svg {
			stroke: #4B5966;
			fill: transparent;
		}

		&.added {

			.ico_svg {
				stroke: #f04924;
				fill: #f04924;
			}
		}

		&_add {
			top: 50%;
			left: 50%;
			z-index: 30;
			width: 40px;
			height: 32px;
			display: block;
			position: absolute;
			margin: -16px 0 0 -20px;
		}
	}

	&__item {
		display: block;
		color: #4B5966;
		position: relative;

		&:hover {
			color: #4B5966;
			text-decoration: none;
		}

		&_text {
			top: 55%;
			left: 1em;
			right: 1em;
			bottom: 6px;
			z-index: 10;
			font-size: 0.75em;
			line-height: 1em;
			text-align: center;
			position: absolute;
			@include flexbox();
			@include flex-direction(column);

			span {
				display: block;
				margin: auto 0;
			}
		}
	}

	@media (min-width: 360px) {

		&__elem {

			&_amount {
				margin:  -1.25em 0 0 0.75em;
			}

			&_text {

			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 20px 20px;

		&__col {
			width: 10em;
			padding: 0.5em;
		}

		&__elem {

			&_amount {
				width: 2em;
				height: 2em;
				font-size: 1em;
			}


			&_text {
				font-size: 1em;
				line-height: 1.1;
			}
		}

		&__item {

			&_text {
				top: 70px;
				font-size: 1em;
				line-height: 1.1;
			}
		}

		&__elem {

		}

		&__profile {

			&_text {

				strong {
					font-size: 1.5em;
					line-height: 1.1;
				}
			}
		}
	}
}




