.point {

	&__header {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 0.75em;
	}

	&__group {
		margin-bottom: 0.5em;

		&_title {
			font-weight: 400;
			font-size: 1.375em;
			line-height: 1.2;
			cursor: pointer;
			padding: 5px 5px 5px 0;
			border-bottom: 1px solid #e8e8e8;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			span {
				display: inline-block;
			}

			i {
				width: 9px;
				height: 16px;
				font-size: 0;
				line-height: 0;
				display: inline-block;
				@include rotate(-90deg);
				@include transition(.3s);

				.ico_svg {
					stroke: $color-base;
				}
			}
		}

		&_content {
			display: none;
			padding-top: 1em;
			padding-bottom: 0.5em;
		}

		&.active {

			.point__group_title {
				font-weight: 700;

				i {
					@include rotate(90deg);
					@include transition(.3s);
				}
			}
		}
	}
}

.point-list {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		padding: 0.5rem 0 0 3.75em;
		position: relative;
		margin-bottom: 1em;

		&:before {
			top: 3.125em;
			left: 1.375em;
			bottom: 0;
			content: '';
			width: 1px;
			position: absolute;
			background: #4C5A66;
		}

		&:last-child {

			&:before {
				display: none;
			}
		}

		&.active {

			.point-list__icon {

				.ico_svg {
					fill: #E2621E;
					stroke: #E2621E;
				}
			}

			.point-list__header_title {
				color: #E2621E;
			}
		}
	}

	&__icon {
		top: 0;
		left: 0;
		width: 46px;
		height: 42px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;

		.ico_svg {
			fill: none;
			stroke: #4C5A66;
		}
	}

	&__header {
		font-size: 1em;
		line-height: 1.25em;
		margin-bottom: 0.5em;

		&_title {
			font-size: 1.125em;
			font-weight: 700;
		}

		&_info {
			opacity: 0.8;
		}
	}

	&__item {
		font-size: 0.875em;
		line-height: 1.25;
		margin-bottom: 0.75em;

		&.active {

			.point-list__item_title {

				&:before {
					top: 50%;
					height: 1px;
					width: 25px;
					left: -37px;
					content: '';
					display: block;
					position: absolute;
					background: #4C5A66;
				}

				&:after {
					top: 50%;
					left: -20px;
					width: 10px;
					height: 10px;
					z-index: 20;
					content: '';
					margin-top: -5px;
					position: absolute;
					display: inline-block;
					background: $color-orange;
					@include border-radius(50%);
				}
			}
		}

		&_title {
			font-weight: 500;
			font-size: 1em;
			position: relative;

			a {
				color: $color-base;
				text-decoration: none;
			}
		}

		&_text {
			opacity: 0.8;
		}
	}
}

.map-point {

	&__header {
		margin-bottom: 1.25em;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_title {
			font-size: 1.5em;
			font-weight: 400;
			line-height: 1.2;
			text-align: center;

			strong {
				font-weight: 700;
			}
		}

		&_nav {
			outline: none;
			opacity: 0.5;
			z-index: 10;
			top: 5px;
			width: 12px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			display: inline-block;

			.ico_svg {
				stroke: $color-base;
			}

			&:hover {
				opacity: 1;
			}
		}

		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
			@include rotate(180deg);
		}
	}

	&__main {

	}

	&__source {
		height: 400px;
		background: url("../images/map.png") 50% 50% no-repeat;
		background-size: cover;
	}

	@media (min-width: $screen-md-min) {

		&__main {
			margin: 0;
		}
	}
}

.points {
	position: relative;

	&__nav {
		outline: none;
		opacity: 0.5;
		z-index: 20;
		top: 15px;
		width: 12px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		.ico_svg {
			stroke: $color-base;
		}

		&_prev {
			left: 10px;
		}

		&_next {
			right: 10px;
			@include rotate(180deg);
		}

		&:hover {
			opacity: 1;
		}
	}

	&__header {
		padding: 0.75em;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5em;
		text-align: center;
		background: #eee9e6;
	}
}

.point-box {
	padding: 0.75em 0.625em;
	background: #fff;
	max-width: 320px;
	margin: 0 auto;

	&__header {
		font-weight: 600;
		margin-bottom: 0.75em;
	}

	&__place {
		font-size: 1em;
		line-height: 1.25em;
		@include flexbox();
		@include align-items(center);

		i {
			width: 46px;
			display: block;
			@include flex-shrink(0);
		}

		span {
			padding-left: 0.5em;
		}
	}

	&__content {
		font-size: 1em;
		padding-left: 1em;
		line-height: 1.25em;
	}
}