
.promo {
	margin: 0 -10px;
	overflow: hidden;
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);

	&__item {
		height: 200px;
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	&__slider {

		.swiper-pagination {
			left: 0;
			right: 0;
			margin: 0;
			padding: 0;
			bottom: 20px;
			font-size: 0;
			line-height: 0;
			position: absolute;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		}

		.swiper-pagination-bullet {
			opacity: 0.4;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			background: #000;
			display: inline-block;
			@include border-radius(50%);
		}

		.swiper-pagination-bullet-active {
			opacity: 0.7;
		}
	}


	@media (min-width: $screen-md-min) {

		&__item {
			height: 300px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
		width: 100%;

		&__item {
			height: 300px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.tour-block {
	width: 100vw;
	padding: 0 1em;
}

.main {
	padding-top: 1.5em;
	margin-bottom: 2.5em;

	@media (min-width: $screen-lg-min) {
		margin-bottom: 0;
	}
}



.info-header {
	z-index: 50;
	margin: 0 -10px;
	width: calc(100% + 20px);
	overflow: hidden;
	max-width: calc(100% + 20px);
	position: relative;

	&__wrap {
		z-index: 1;
		height: 200px;
		position: relative;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}

.guide-bar {
	margin: 0 -0.625em;
	padding: 0.625em 0.625em;
	background: #ece9e4;
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	&__user {
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 4em;
			height: 4em;

			.ico_svg {
				fill: #b6bbc1;

			}
		}

		&_text {
			font-size: 1em;
			line-height: 1.25em;
			padding-left: 1em;

			strong {
				color: #df611a;
				display: block;
				font-weight: 700;
				font-size: 1.5em;
				line-height: 1.1;
			}

			span {
				display: block;
			}
		}
	}

	&__contact {
		width: 4em;
		height: 4em;
		background: #fdb10d;
		display: inline-block;
		@include border-radius(50%);

		.ico_svg {
			stroke: #4B5966;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
	}
}


.infobox {
	background: #ece9e4;
	border: 1px solid #b9bcc3;
}

.page-top {
	color: #fff;
	margin: 0 -0.625em;
	width: calc(100% + 1.25em);
	font-size: 1em;
	line-height: 1.25em;
	background: #06a4cb;
	@include flexbox();
	@include align-items(center);

	&_yellow {
		background: #fcaf03;
	}

	a {
		width: 46px;
		height: 42px;
		font-size: 0;
		line-height: 0;
		display: block;

		.ico_svg {
			stroke: #fff;
			display: block;
		}

		&:hover {
			color: #fff;
			text-decoration: none;

			.ico_svg {
				stroke: #fff;
			}
		}
	}

	span {
		padding-left: 10px;
		display: inline-block;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}

.social {
	font-size: 0;
	line-height: 0;
	margin: 0 -8px;
	text-align: center;
	@include flexbox();
	@include align-items(center);

	&_center {
		@include justify-content(center);
	}

	&_auth {

		.social__item {

			.ico_svg {
				fill: #929AA2;
			}
		}
	}

	&__item {
		width: 40px;
		height: 40px;
		margin: 0 8px;
		cursor: pointer;
		display: inline-block;
	}
}

.comments {

	&__info {
		position: relative;
		border: 5px solid $color-blue;
		@include flexbox();
		@include align-items(center);

		&:before {
			left: 50%;
			top: 10px;
			width: 1px;
			bottom: 10px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
		}

		&_summary {
			width: 50%;
			padding: 0.5em 0.5em;
			font-weight: 400;
			font-size: 0.875em;
			line-height: 1;
			color: $color-blue;
			@include flex-shrink(0);
			@include flexbox();
			@include align-items(center);

			strong {
				font-size: 2.75em;
				line-height: 1;
				display: inline-block;
			}

			span {
				padding-left: 0.625em;
				display: inline-block;
			}
		}

		&_rate {
			width: 50%;
			padding: 0.625em;
			text-align: center;
			@include flex-shrink(0);
		}

		&_legend {
			font-weight: 400;
			font-size: 0.875em;
			line-height: 1.2;
			margin-bottom: 0.25em;

			strong {
				font-size: 2em;
				font-weight: 700;
				line-height: 1.2;
			}
		}

		&_star {
			color: #e25e14;
			font-size: 1.25em;
			line-height: 1;
		}
	}

	&__text {
		font-size: 0.875em;
		line-height: 1.2;
		text-align: center;
		padding-top: 0.5em;
		margin-bottom: 1em;
	}


	&__item {
		font-size: 1em;
		line-height: 1.25em;
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		border-bottom: 1px solid #acbcc2;
		@include flexbox();
		@include align-items(center);

		&:last-child {
			border-bottom: none;
		}


		&_avatar {
			width: 3.75em;
			height: 3.75em;
			position: relative;
			@include flex-shrink(0);

			.ico_svg {
				z-index: 1;
				position: relative;
				fill: #acbcc2;
			}
		}

		&_photo {
			top: 0;
			right: 0;
			z-index: 10;
			width: 3.75em;
			height: 3.75em;
			overflow: hidden;
			position: absolute;
			@include border-radius(50%);

		}

		&_main {
			padding-left: 0.625em;
			@include flex-grow(1);
		}

		&_header {

			strong {
				color: $color-blue;
			}

			span {
				padding-left: 0.375em;
			}
		}

		&_text {

		}
	}

	&__action {
		text-align: center;

		&_item {
			margin-bottom: 0.375em;
		}
	}

	@media (min-width: 360px) {

		&__info {

			&_summary {
				font-size: 1em;
				line-height: 1;

				strong {
					font-size: 2.75em;
				}
			}

			&_legend {
				font-size: 1em;

				strong {
					font-size: 2em;
				}
			}

			&_star {
				color: #e25e14;
				font-size: 1.5em;
				line-height: 1;
			}
		}
	}
}

.main_wrap {
	margin: 0 auto;
	max-width: 30em;
}

.players {

	&__header {
		text-align: center;
		position: relative;
		padding: 0 1.25em 0.75em 1.25em;

		&_month {
			font-weight: 700;
			font-size: 1.5em;
			line-height: 1.1;
			color: $color-blue;
			margin-bottom: 2px;
		}

		&_date {
			font-size: 1.175em;
			line-height: 1.2;
		}

		&_choice {
			font-size: 0.875em;
			line-height: 1.2;
			color: $color-base;
			text-decoration: none;
		}

		&_nav {
			outline: none;
			opacity: 0.5;
			z-index: 10;
			top: 5px;
			width: 12px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;

			.ico_svg {
				stroke: $color-base;
			}

			&:hover {
				opacity: 1;
			}
		}

		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
			@include rotate(180deg);
		}
	}

	&__legend {
		padding: 1em;
		font-weight: 400;
		font-size: 1em;
		line-height: 1.125em;
		background: #ecede8;
		@include flexbox();
		@include align-items(center);

		&_text  {
			@include flex-grow(1);
		}


		&_value {
			font-size: 2em;
			font-weight: 400;
			line-height: 1.2;
			padding-left: 1em;
		}
	}

	&__item {
		padding: 0.25em 0.25em;
		font-size: 1em;
		line-height: 1.25em;
		border: 1px solid transparent;
		border-bottom-color: #ecede8;
		@include flexbox();
		@include align-items(center);

		&_guide {
			border: 2px dashed $color-orange;
			border-bottom-color: $color-orange;
		}

		&_number {
			width: 2em;
			padding-right: 5px;
			@include flex-shrink(0);
		}

		&_photo {
			width: 3em;
			height: 3em;
			@include flex-shrink(0);
		}

		&_name {
			padding: 0 0.625em;
			@include flex-grow(1);

			strong {
				font-weight: 700;
			}
		}

		&_status {
			width: 2em;
			text-align: center;
			@include flex-shrink(0);

			strong {
		//		font-weight: 700;
			}
		}

		&_elem {
			font-size: 0;
			line-height: 0;
			padding-left: 1em;
			padding-right: 0.25em;
			@include flex-shrink(0);
		}

		&_mail {
			width: 1.5em;
			height: 1.5em;
			cursor: pointer;
			display: inline-block;

			.ico_svg {

				fill: $color-base;
			}
		}

		&_remove {
			width: 1.5em;
			height: 1.5em;
			cursor: pointer;
			display: inline-block;

			.ico_svg {

				stroke: $color-base;
			}
		}
	}
}

.players-status {
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
	cursor: pointer;

	&__one {

		.ico_svg {
			fill: #4B5966;
			stroke: none;
		}
	}

	&__two {

		.ico_svg {
			fill: #A5ACB3;
			stroke: none;
		}
	}

	&__three {

		.ico_svg {
			fill: none;
			stroke: #4B5966;
		}
	}

	&__selected {

		.ico_svg {
			fill: #FEB103 !important;
			stroke: none !important;
		}
	}
}





.auth {
	left: 0;
	right: 0;
	top: 50px;
	z-index: -1;
	opacity: 0;
	position: fixed;
	overflow-y: auto;
	visibility: hidden;
	background: #ebe8e3;
	height: calc(100% - 50px);
	@include flexbox();
	@include flex-direction(column);

	&.open {
		opacity: 1;
		z-index: 1500;
		visibility: visible;
	}

	&__wrap {
		padding-top: 20px;
	}

	&__box {
		max-width: 400px;
		padding: 2em 1em;
		margin: 0 auto;
	}

	&__title {
		font-size: 1.5em;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	&__subtitle {
		text-align: center;
		font-size: 1em;
		line-height: 1.25em;
		margin-bottom: 10px;
	}


	&__text {
		font-size: 1em;
		line-height: 1.5em;
		margin-bottom: 2em;
		text-align: center;
	}

	&__logo {
		width: 100px;
		height: 60px;
		display: block;
		margin: 0 auto 2em auto;
	}

	&__btn {
		padding-left: 2em;
		max-width: 320px;
		margin: 0 auto;
		@include flexbox();
		@include justify-content(space-between);

		&_item {
			padding: 0 0.625em;
		}
	}
}



@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}
