.tour {
	display: grid;
	margin-bottom: 2.5em;
	grid-gap: 0 2em;
	align-content: start;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;

	&:last-child {
		margin-bottom: 0;
	}

	&__elem {
		margin-bottom: 1.25em;
		grid-column: span 2;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__header {

		&_title {
			font-weight: 900;
			font-size: 1.75em;
			line-height: 1.125;
			margin-bottom: 0.5em;
		}

		&_edit {

			a {
				width: 100%;
				border: none;
				outline: none;
				font-weight: 400;
				padding: 0.75em 1em;
				font-size: 1em;
				line-height: 1.25em;
				color: $color-base;
				background: #ece9e4;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);

				&:hover {
					color: $color-base;
					text-decoration: none;
				}
			}
		}
	}

	&__meta {
		max-width: 470px;
		margin-bottom: 0.5rem;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_item {
			padding-right: 1.25em;
		}

		&_info {
			font-weight: 400;
			font-size: 1em;
			line-height: 1.25em;
			@include flexbox();
			@include align-items(center);

			i {
				width: 1.75em;
				height: 1.75em;
				font-size: 0;
				line-height: 0;
				display: block;
			}

			.ico_svg {
				display: block;
				stroke: #4B5966;
			}

			span {
				display: inline-block;
			}
		}

		&_label {
			font-size: 0.875em;
			line-height: 1em;
		}
	}

	&__rating {
		@include flexbox();
		@include align-items(center);

		&_star {
			font-weight: 400;
			font-size: 1rem;
			line-height: 1rem;
			color: $color-orange;
		}


		&_value {
			font-weight: 400;
			font-size: 1.125em;
			line-height: 1.75em;
			padding-left: 0.375em;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 2em;
		line-height: 2.25em;
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1em;
		max-height: 4em;
		overflow: hidden;
		line-height: 1.25em;
		text-overflow: ellipsis;
	}

	&__info {
		margin-bottom: 1em;
		@include flexbox();
		@include align-items(center);

		&_item {

			&:first-child {
				width: 11.5em;
			}
		}
	}

	&__user {
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 4em;
			height: 4em;

			.ico_svg {
				fill: #b6bbc1;
				display: block;

			}
		}

		&_text {
			font-size: 1em;
			line-height: 1.25em;
			padding-left: 1em;

			strong {
				color: #df611a;
				display: block;
				font-weight: 700;
				font-size: 1.375em;
				line-height: 1.25;
			}

			span {
				display: block;
			}
		}
	}

	&__duration {

		strong {
			display: block;
			font-weight: 700;
			font-size: 2.375em;
			line-height: 1.75em;
		}

		span {
			display: block;
		}
	}

	&__nav {

		&_link {
			height: 42px;
			color: #fff;
			text-decoration: none;
			@include flexbox();
			@include align-items(center);

			.ico_svg {
				stroke: #fff;
			}

			&:hover {
				color: #fff;
				text-decoration: none;

				.ico_svg {
					stroke: #fff;
				}

			}

			i {
				width: 46px;
				height: 42px;
				font-size: 0;
				line-height: 0;
				display: inline-block;
			}

			i {
				padding-left: 5px;
				display: inline-block;
			}
		}
	}

	&__image {
		height: 300px;
	}

	&__content {
		padding: 0.75em 1em 1em 1em;
		background: #ebe8e3;
		position: relative;

		&_nav {
			outline: none;
			opacity: 0.5;
			z-index: 10;
			top: 5px;
			width: 12px;
			height: 20px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: absolute;

			.ico_svg {
				stroke: $color-base;
			}

			&:hover {
				opacity: 1;
			}
		}

		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
			@include rotate(180deg);
		}

		&_header {
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 1.4;
			margin-bottom: 0.75em;
			text-align: center;
		}

		&_main {
			@include flexbox();
		}

		&_map {
			width: 50%;
			height: 120px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		&_image {
			height: 120px;
			margin-left: 10px;
			background: #b6bbc1;
			width: calc(25% - 10px);
		}
	}

	&__more {
		text-align: center;
		grid-column: span 2;
	}

	&__edit {
		padding-top: 15px;
		text-align: center;
		grid-column: span 2;
	}


	&__gallery {

		&_map {
			height: 120px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		&_image {
			height: 120px;
			background: #b6bbc1;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 70px;

		&__header {
			display: grid;
			grid-gap: 0 2em;
			padding-bottom: 10px;
			align-content: start;
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr;

			&_title {
				margin-bottom: 0;
			}
		}

		&__meta {

			&_label {
				font-size: 1em;
				line-height: 1.25em;
			}

			&_info {
				font-size: 1.2em;
			}
		}

		&__text {
			font-size: 1.25em;
			line-height: 1.25em;
			max-height: 4em;
		}

		&__content {

			&_map {
				width: 240px;
				height: 140px;
			}

			&_image {
				width: 110px;
				height: 140px;
			}
		}

		&__more {
			padding-top: 10px;

			.btn {
				min-width: 240px;
			}
		}

		&__gallery {

			&_map {
				height: 140px;
			}

			&_image {
				height: 140px;
			}
		}
	}

	@media (min-width: 1024px) {

		&__elem {
			grid-column: auto;

			&_long {
				grid-column: span 2;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		grid-gap: 0 2.5em;

		&__header {
			grid-gap: 0 2.5em;
		}
	}
}

.tour-detail {
	display: grid;
	grid-gap: 0 20px;
	align-content: start;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;

	&__half {
		@include flexbox();
		@include flex-shrink(0);
		@include flex-direction(column);
	}

	&__content {
		@include flex-grow(1);
	}

	&__button {
		padding-top: 20px;

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min) {
		grid-gap: 0 40px;
	}
}

.tour-amount {
	@include flexbox();
	@include align-items(center);

	&__summary {
		width: 4em;
		height: 4em;
		padding: 0.25em;
		text-align: center;
		color: $color-blue;
		border: 5px solid $color-blue;
		@include flex-shrink(0);
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			display: block;
			margin: auto 0;
		}

		strong {
			display: block;
			font-size: 1.75em;
			line-height: 1;
			font-weight: 700;
		}

		span {
			font-weight: 400;
			font-size: 1em;
			line-height: 1em;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 0.75em;
		line-height: 1.25;
		padding-left: 0.5em;
		max-width: 130px;
	}

	&__info {
		margin: auto 0;
		font-size: 0.75em;
		line-height: 1.25;

		strong {
			display: block;
			font-weight: 700;
		}

		span {
			display: block;
		}
	}

	&_brown {
		background: #9d8e7a;

		.tour-amount__summary {
			color: #fff;
			width: 50px;
			background: #9d8e7a;
			border-color: #9d8e7a;
		}

		.tour-amount__text {
			color: #fff;
			padding-right: 8px;
			padding-left: 0;
		}
	}

	@media (min-width: 360px) {

		&__summary {
			width: 4.5em;
			height: 4.5em;

			strong {
				font-size: 2em;
				line-height: 1;
			}

			span {
				font-size: 1.125em;
				line-height: 1.125em;
			}
		}

		&__text {
			font-size: 0.875em;
			line-height: 1.25;
		}

		&__info {
			margin: auto 0;
			font-size: 0.875em;
			line-height: 1.25;
		}

		&_brown {

			.tour-amount__summary {
				width: 3.75em;
			}

			.tour-amount__text {

			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__summary {
			width: 7em;
			height: 7em;

			strong {
				font-weight: 400;
				font-size: 3em;
				line-height: 1;
			}

			span {
				font-size: 1.625em;
				line-height: 1.2;
			}
		}

		&__text {
			max-width: inherit;
			font-size: 1.625em;
			line-height: 1.25;
		}

		&__info {
			font-size: 1.625em;
			line-height: 1.25;
		}

		&_brown {

			.tour-amount__summary {
				width: 90px;
			}
		}
	}

	@media (min-width: 1024px) {

		&__summary {
			width: 5rem;
			height: 5rem;

			strong {
				font-weight: 400;
				font-size: 2.25em;
				line-height: 1.1;
			}

			span {
				font-size: 1.25em;
				line-height: 1.25
			}
		}

		&__text {
			font-size: 1.25em;
			line-height: 1.25;
		}

		&__info {
			font-size: 1.25em;
			line-height: 1.25;

			&_compact {
				font-size: 1rem;
				line-height: 1.1;
			}
		}

		&_brown {

			.tour-amount__summary {
				width: 5rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}