/**
 * @package PickMeUp
 * @author  Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @license 0BSD
 */
$border-radius                    : .4em !default;
$background                       : #ebe9e4 !default;
$color                            : $color-base !default;
$background-hover                 : transparent !default;
$color-hover                      : #88c5eb !default;
$nav-color                        : $color !default;
$nav-color-hover                  : $color-hover !default;
$not-in-month                     : #666 !default;
$not-in-month-hover               : #999 !default;
$disabled                         : #333 !default;
$selected                         : $color !default;
$selected-background              : $color-base !default;
$not-in-month-selected-background : transparent !default;
$day-of-week                      : $color-base!default;
$today-background                 : $color-base !default;
$today-color                      : $color-hover !default;


.pickmeup {
	background      : $background;
	border-radius   : $border-radius;
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
	display         : inline-block;
	position        : absolute;
	touch-action    : manipulation;

	* {
		-moz-box-sizing : border-box;
		box-sizing      : border-box;
	}

	&.pmu-flat {
		display: block;
		position : relative;

		.pmu-instance {
			width: 100%;
		}
	}

	&.pmu-hidden {
		display : none;
	}

	.pmu-instance {
		display    : inline-block;
		height     : auto;
		padding    : .5em;
		text-align : center;
		width      : 15em;

		.pmu-button {
			font-size: 1em;
			line-height: 1.75em;
			position: relative;
			color           : $color;
			cursor          : pointer;
			outline         : none;
			text-decoration : none;
		}

		.pmu-today {
			background : url("../../img/calendar.svg") 50% 50% no-repeat;
			color      : $today-color;
		}

		.pmu-button:hover {
			background : url("../../img/calendar.svg") 50% 50% no-repeat;
			color      : $color-base;
		}

		.pmu-not-in-month {
			opacity: 0.7;
			color : $not-in-month;
		}

		.pmu-disabled,
		.pmu-disabled:hover {
			color  : $disabled;
			cursor : default;
		}

		.pmu-selected {
			background : url("../../img/calendar.svg") 50% 50% no-repeat;
			color      : $selected;

			&:hover {
				background : url("../../img/calendar.svg") 50% 50% no-repeat;
				color      : $selected;
			}
		}


		.pmu-not-in-month.pmu-selected {
			background : url("../../img/calendar.svg") 50% 50% no-repeat;
		}

		nav {
			color       : $nav-color;
			display     : -ms-flexbox;
			display     : -webkit-flex;
			display     : flex;
			font-size: 1.125em;
			line-height : 1.3;
			margin-bottom: 8px;
			@include align-items(center);
			@include justify-content(space-between);

			*:first-child :hover {
				color : $nav-color-hover;
			}

			.pmu-prev,
			.pmu-next {
				display : none;
				height  : 1.75em;
				width   : 1em;
				font-size: 1.75em !important;
				line-height: 1.5 !important;
				background: transparent !important;

				&:hover {
					background: transparent !important;
				}
			}
			.pmu-month {
				font-weight: 700;
			//	width : 14em;
			}
		}

		.pmu-years,
		.pmu-months {
			* {
				display     : inline-block;
				line-height : 2em;
				width       : 36px;
			}
		}

		.pmu-months {

			.pmu-button {
				width: 33.33% !important;
				line-height: 4em !important;

				&:hover {
					background: #b4e3ee !important;
				}
			}

			.pmu-selected {
				background: #b4e3ee !important;
			}
		}

		.pmu-month.pmu-button {
			background: transparent !important;
		}

		.pmu-years {

			.pmu-button {
				width: 33.33% !important;
				line-height: 4em !important;

				&:hover {
					background: #b4e3ee !important;
				}
			}

			.pmu-selected {
				background: #b4e3ee !important;
			}
		}

		.pmu-day-of-week {
			color  : $day-of-week;
			cursor : default;
			font-size: .875em;
			padding-bottom: 0.5em;
		}

		.pmu-day-of-week,
		.pmu-days {
			* {
				font-size: 1em;
				display     : inline-block;
				line-height : 1.5;
				width       : 14.285%;
			}
		}

		.pmu-days {

			* {
				line-height: 3rem;
			}
		}

		.pmu-day-of-week * {
			line-height : 1.5em;
		}
	}

	.pmu-instance:first-child .pmu-prev,
	.pmu-instance:last-child .pmu-next {
		display : block;
	}

	.pmu-instance:first-child,
	.pmu-instance:last-child {
		.pmu-month {
			width : 13em;
		}
	}

	.pmu-instance:first-child:last-child .pmu-month {
		width : 12em;
	}

	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display : none;
	}
}

