
.breadcrumb {
	background: #06a4cb;

	a {
		color: #fff;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 46px;
			height: 42px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		.ico_svg {
			stroke: #fff;
		}

		span {
			padding-left: 10px;
			display: inline-block;
		}

		&:hover {
			color: #fff;
			text-decoration: none;

			.ico_svg {
				stroke: #fff;
			}
		}
	}
}

