
.btn {
	color: #fae9c2;
	outline: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.25em;
	padding: 0.75em 1.25em;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #f89c1f;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f89c1f;

	&:hover {
		color: #fff;
		background: #f79c1f;
		border-color: #f79c1f;
		text-decoration: none;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_light_gray {
	color: $color-base;
	background: #ece9e4;
	border-color: #ece9e4;

	&:hover {
		color: $color-base;
		background: #ece9e4;
		border-color: #ece9e4;
	}
}

.btn_brown {
	color: #fff;
	background: #978a7d;
	border-color: #978a7d;

	&:hover {
		color: #fff;
		background: #988b7e;
		border-color: #988b7e;
	}
}

.btn_border {
	color: #748896;
	background: #fff;
	border-color: #748896;

	&:hover {
		color: #fff;
		background: #f04924;
		border-color: #f04924;
	}
}

.btn_orange {
	color: #fff;
	background: #f89b1f;
	border-color: #f89b1f;

	&:hover {
		color: #748896;
		background: #fff;
		border-color: #748896;
	}
}

.btn_blue {
	color: #fff;
	background: #04a5c8;
	border-color: #04a5c8;

	&:hover {
		color: #fff;
		background: #f04924;
		border-color: #f04924;
	}
}

.btn_sm {
	font-size: 0.75em;

	@media (min-width: $screen-md-min) {
		font-size: 0.875em;
	}
}

.btn_fix {
	min-width: 240px;
}

.btn-link {
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25em;
	color: $color-orange;
	text-decoration: none;

	&:hover {
		color: $color-orange;
		text-decoration: underline;
	}
}

.btn_text {
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25em;
	color: $color-base;
	text-decoration: none;
	display: inline-block;

	&:hover {
		color: $color-orange;
		text-decoration: none;
	}

	&_orange {
		color: $color-orange;
		text-decoration: none;

		&:hover {
			color: $color-base;
			text-decoration: none;
		}
	}
}


.btn_download {
	color: #E35E15;
	font-size: 1em;
	line-height: 1.25em;
	max-width: 200px;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	i {
		width: 2em;
		height: 2em;
		display: inline-block;
	}

	span {
		display: inline-block;
	}

	.ico_svg {
		stroke: #E35E15;
	}

	&:hover {
		color: #E35E15;
		text-decoration: none;

		.ico_svg {
			stroke: #E35E15;
		}
	}
}

.btn_icon {
	padding: 0;
	border: none;
	outline: none;
	margin: 0 auto;
	text-align: center;
	color: $color-base;
	display: inline-block;
	background: transparent;

	i {
		height: 30px;
		display: inline-block;
	}

	span {
		display: block;
		font-size: 0.875em;
		line-height: 1.25em;
		white-space: nowrap;
	}

	.ico_svg {
		stroke: $color-base;
	}
}