.form-control {
	margin: 0;
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.25em;
	color: $color-base;
	padding: 0.25em 0.625em;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	box-shadow: none !important;
	border-bottom: 1px solid #ced2d5;
	@include border-radius(0);
	@include placeholder($color-base);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
	&.error {
		border-color: #FF3840;
	}
}

.form-group {
	margin-bottom: 1em;
}